$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;
$heading-font-family: "Montserrat";
$font-links: $heading-font-family;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base: $font-family-sans-serif;

// $brand-primary: rgba(154, 175, 173, 1);
$brand-primary: rgba(180, 210, 198, 1);
$link-color: $brand-primary;

$nav-link-padding: 10px 0;
$nav-link-hover-bg: transparent;
$nav-pills-active-link-hover-bg: transparent;
$nav-pills-active-link-hover-color: #333;

$body-bg: rgba(239,238,229, 1);
$grid-gutter-width: 0;

// bower:scss
@import "../../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

a {
    font-family: $font-links;
}

.main-header {
    margin: 80px auto;
    background-color: rgba(239,238,229, .98);

    hr {
        border-color: #c8c5b6;
        border-width: 2px;
        padding-bottom: 0;
        margin-bottom: 0;
        clear: both;
    }

    &.stacked {
        margin: 0px auto;

        .stacked-navigation {

            .logo {
                float: left;
                img {
                    width: 35%;
                    margin: -10px 0 10px 10px;
                }
            }

            ul.nav {
                float: left;
                margin-top: -5px;
                a {
                    padding: auto 10px;
                    display: block;
                    margin: auto 15px;
                }
                > li.active > a { color: $brand-primary; }
            }
        }

        nav.social {
            text-align: right;
            ul.nav {
                float: right;
                margin-top: -5px;

                @media (min-width: $screen-sm-min) {
                    width: 170px;
                }

                li {
                    a {
                        padding: auto 5px;
                        display: block;
                        margin: auto 10px;
                    }
                }
            }
        }
    }


    .site-navigation {
        padding-bottom: 200px;
        ul.nav {
            @include center-block();

            @media (min-width: $screen-sm-min) {
                width: 380px;
            }

            width: 100%;
            font-size: 18px;

            li {
                display: block;
                a {
                    display: block;
                }
            }

            > li.active > a { color: $brand-primary; }

            // Hover effect
            a {
                position: relative;
                padding: auto 10px;
                display: block;
                margin: auto 15px;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 2px;
                    @include transition(width 0.3s);
                }

                &:before {
                    width: 100%;
                    background: transparent;
                }

                &:after {
                    width: 0;
                    background: $brand-primary;
                }

                &:active:after,
                &:hover:after {
                    width: 100%;
                }
            }
        }
    }

    .headline {
        text-align: center;
        h2 {
            font-family: $heading-font-family;
            color: rgba(198, 196, 178, 1);
            font-size: 38px;
        }
        .headline-text {
            @media (min-width: $screen-sm-min) {
                width: 600px;
                padding: 0;
            }

            width: 100%;
            padding: 40px;

            margin-top: 30px;
            @include center-block();

            text-align: left;
            font-family: 'Brandon Grotesque Light'; // or bold
            font-size: 26px;
            color: darken(rgba(198, 196, 178, 1), 15%);
        }
    }

    .scroll-holder {
        margin-top: 80px;
        .scroll-down {
        }
    }
}
body {
    padding-bottom: 200px;
}

.entry-work {
    .background-image {
        min-height: 350px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        a {
            opacity: 0;
            width: 100%;
            height: 350px;
            display: block;
        }
    }
}

body.work {

    .entry-work {
        padding-top: 80px;
        margin: 80px auto;

        .work-meta {
            min-height: 140px;
            padding-bottom: 80px;

            .work-title {
                h2 {
                    font-family: $heading-font-family;
                    font-size: 26px;
                    color: darken(rgba(198, 196, 178, 1), 5%);
                }
            }

            .work-info {
                padding-top: 20px;
                p {
                    font-family: 'Brandon Grotesque Light';
                    font-size: 22px;
                    color: darken(rgba(198, 196, 178, 1), 15%);
                }
            }
        }

        .work-showcase {
            position: relative;
            .navigation {
                z-index: 4;

                &.left {
                    position: absolute;
                    left: -32px;
                }

                &.right {
                    position: absolute;
                    text-align: right;
                    right: -32px;

                    a {
                        &:before,
                        &:after {
                            left: 80px;
                        }
                    }
                }

                a {
                    display: block;
                    color: rgba(198, 196, 178, 1);
                    padding-top: 250px;
                    font-size: 38px;
                    position: relative;

                    &:before,
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 2px;
                        @include transition(width 0.3s);
                    }

                    &:before {
                        width: 17%;
                        background: transparent;
                    }

                    &:after {
                        width: 0;
                        background: $brand-primary;
                    }

                    &:active:after,
                    &:hover:after {
                        width: 17%;
                    }
                }

            }
        }
    }

    .main-header {
        margin-bottom: 0px;
    }
}

.affix.main-header {
    z-index: 15;
    width: 92.5%;
    hr {
        border-color: rgba(239,238,229, 0);
    }
}
